html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    background: #eee;
    padding: 150px 1rem 1rem 1rem;
    width: 300px;
    min-height: 100vh;
    overflow-y: auto;
}

.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

header {
    background: #ffffff;
    padding: 1rem;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

header form {
    display: flex;
    justify-content: center;
    align-items: center;
}

header form input[type="url"] {
    flex: 1;
    padding: 0.5rem;
    margin-right: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.9rem;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

header form input[type="url"]:hover {
    background-color: #e0e0e0;
}


header form button {
    padding: 0.5rem 1rem;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    margin-bottom: 0.5rem;
}

button {
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
    margin: 0 2px;
}

button:hover {
    background-color: #e0e0e0;
}

.category-item:hover {
    cursor: pointer;
    color: #555;
}

li {
    cursor: default;
}

.feed-item:hover {
    color: inherit;
}

main {
    flex: 1;
    padding: 1rem;
    background: #fff;
    margin: 0 auto;
    max-width: 800px;
}

.article {
    margin-bottom: 1.5rem;
}

.article-content {
    display: flex;
    gap: 1rem;
}

.article img {
    max-width: 200px;
    height: auto;
    object-fit: cover;
}

.article-title:hover,
.article-description:hover,
.article-image:hover {
    cursor: pointer;
}

button:hover {
    cursor: pointer;
}

.text-content {
    flex: 1;
}

.article h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
}

.article p {
    font-size: 1rem;
}

.feed-item {
    display: flex;
    align-items: center;
}

.feed-item button {
    margin-left: 0.5rem;
}

.feed-item span {
    flex: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.feed-badge {
    display: inline-block;
    padding: 0.2rem 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 0.75rem;
    color: white;
    background-color: #838E80;
    border-radius: 0.25rem;
}

.success-message {
    margin-top: 10px;
    font-size: 1rem;
    color: #838E80;
    display: none;
    font-weight: bold;
}

/* Collapsible Menu */
.collapsible-menu {
    display: none;
    background-color: #838E80;
    padding: 10px;
    border: 1px solid #6C7A64;
    border-radius: 5px;
    margin-top: 10px;
}

.collapsible-menu label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.collapsible-menu input {
    width: calc(100% - 20px);
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#modal-body img {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 10px auto;
}